@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-font{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


*{
 font-family: "Nunito", sans-serif; 
}